doctype html
head

  title Doge x Cheems
    
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
  link(rel="icon" type="image/png" href="./media/2d/favicon.png")
  link(rel="stylesheet", href="style.styl")  
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap" rel="stylesheet")

    
body
    //- splash
    #splash    
      .loader        
        h2 loading 
        h2 ...
      .hidden.cool-stuff
        .banner
          h2 WebXR not supported on this device. Try reloading the page from a recent Android phone.
        .title
          h1 Doge x Cheems
        .sub
          p 
            |A Web3 AR experiment
          p 
            a(href="https://github.com/HomelyHyperion/doge-x-cheems" target="_blank") source code
        .arrows
          img(src="./media/2d/UI/arrows.png", alt="arrows")

    //- app
    #overlay.hidden      
      .hints
        img.scan(src="./media/2d/gif/scan.gif", alt="scan")
        .copy 
          p scan the floors and surfaces around you
      .subhint.hidden
        img.tap(src="./media/2d/gif/tap.gif", alt="tap")
        p now tap to drop!
      .gifcontainer        
      nav.hidden
        button.but.undo
          img(src="./media/2d/UI/undo.png", alt="undo")
        button.but.bomb
          img(src="./media/2d/UI/bomb.png", alt="bomb")
      .bottom.hidden
        button.but.prev   
          img(src="./media/2d/UI/arrow.png", alt="arrow")
        .status
          img.icon(src="./media/2d/icons/hotdog.png", alt="ico")
        button.but.next
          img(src="./media/2d/UI/arrow.png", alt="arrow")

    script(src="./app.js")